*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'Metrophobic', sans-serif;
}

*:focus{
    outline: none;
}

a{
    color: unset;
}

header{
    background-image: url("../images/hero.png");
    background-position: center; /*Image at center*/
    background-size: cover;
    height: 60vh; /*percent will not work because it will take % of parent */

}

/* Header styles */

/* Navbar styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    width: 70%;
    margin: 0px auto;  /*auto will align it in center in this case, but auto arrange the margin automatically*/
}

nav .nav-item{
    color: #fff;
    margin: 0px 10px;
}

nav div.container{
    display: flex;
}

nav div.nav-item.app{
    font-size: 0.9rem;
    font-weight: 900;
}
/* container styles */

div.search-box div{
    display: flex;
    align-items: center;
    height: 50px;
}

header div.search-box i{
    margin: 10px;
}

header div.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7%;
    height: 70%;
    width: 80%;
    margin: 0px auto;
}

header div img{
    height: 60px;
}

header h1 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400;
}

header div.search-box{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 60%;
    border-radius: 10px;
}

header div.search-box div.select i{
    color: #F57082;
}

header div.search-box div.input {
    color: #828282b7;
}

header div.search-box div.seperator{
    height: 50%;
    background-color: #8282829B;
    width: 2px;
}

header div.search-box div.input{
    flex-grow: 70;
}

header div.search-box div.input input{
    width: 100%;
}

header div.search-box select{
    margin-right: 5px;
    -webkit-appearance: none;
    width: 9vw;
}

svg.locator_icon{
    margin: 0px 10px;
}

svg.search_icon{
    margin: 0px 10px;
}

header div.select svg.dropdown_icon{
    margin: 0 10px;
}

/* header complete------------ */

/* Nearby places section */

section.nearby{
    min-height: 40vh;
}

section.nearby div.container {
    width: 90%;
    margin: 0px auto;
    text-align: center;
    padding: 40px 0px;
}

section.nearby div.container h3{
    font-size: 2.2rem;
    font-weight: unset;
}

section.nearby div.box{
    max-width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

section.nearby div.box:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

/* Apps Section */

section.app {
    min-height: 300px;
    background-color: #FEFBF6;
}

section.app div.container {
    width: 70%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.app div.container img {
    max-width: 300px;
    display: block;
}